<div class="container-tap4">
  <app-navbar></app-navbar>
  <app-config-navbar [numberOption]="4"></app-config-navbar>
  <div class="configuration-tap4" *ngIf="!modeEdit">
      <div class="account-plan">
        <app-account [accounts]="accountPlan"></app-account>
      </div>
      <div class="right">
        <button class="edit-button" (click)="edit()">
            <i class="fa-solid fa-pen"></i>
        </button>
      </div>
  </div>
  <div class="configuration-tap4" *ngIf="modeEdit">
    <div class="account-plan" style="padding-left: 25px;">
      <app-my-button-squared (clicked)="setSelectedNode(null)"></app-my-button-squared>
      <hr style="margin-top: 8px;">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <app-my-button-squared (clicked)="setSelectedNode(node)" data-toggle="modal" data-target="#modal"></app-my-button-squared>
          <div class="separator"></div>
          <div class="text-orange">
            {{node.name}}
          </div>
          <div class="separator"></div>
          <button style="margin-left: 8px;" mat-icon-button disabled></button>
          <div class="right">
            <app-circular-button (clicked)="deleteAccount(node)"></app-circular-button>
          </div>
        </mat-tree-node>
        <hr>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <app-my-button-squared (clicked)="setSelectedNode(node)" data-toggle="modal" data-target="#modal"></app-my-button-squared>
          <div class="separator"></div>
          <div class="text-blue">
            {{node.name}}
          </div>
          <div class="separator"></div>
          <button class="expand-button" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <i style="color: #757575;" class="fa-solid" [ngClass]="{'fa-caret-up': treeControl.isExpanded(node), 'fa-caret-down': !treeControl.isExpanded(node)}"></i>
          </button>
        </mat-tree-node>
      </mat-tree>
    </div>
    <div class="right">
        <app-my-button [isGreen]="true" (click)="save()" style="margin-right: 10px;">GUARDAR CAMBIOS</app-my-button>
        <app-my-button [isRed]="true" (click)="cancel()">CANCELAR</app-my-button>
    </div>
  </div>
</div>


<div class="overlay" *ngIf="mostrarPopup"></div>
<div class="overlay" *ngIf="mostrarPopupSon"></div>

<div *ngIf="mostrarPopup" class="popup">
  <div class="popup-title">
    <span class="icon">
      <i class="fa-regular fa-pen-to-square"></i>
    </span>
    <h2 class="h2-title">Registro de Cuenta</h2>
  </div>
  <div class="row-2-popup">
    <h3>Dígitos del nivel</h3>
    <input [(ngModel)]="digitsLevel" type="text" placeholder="Ingresa el nivel">
  </div>
  <div class="row-2-popup">
    <h3>Nombre de la cuenta </h3>
    <input [(ngModel)]="accountName" type="text" placeholder="Ingresa el nombre de la cuenta">
  </div>
  <div class="checkbox">
    <input type="checkbox" id="checkParent" name="check" value="check">
    <label for="check">Rubro monetario</label>
  </div>
  <div class="alinear">
    <h3>Reporte</h3>
    <label class="label-report alinear" for="balanceGeneral">
      <input type="radio" id="balanceGeneral" [(ngModel)]="accountReport" value=true> Balance General
    </label>
    <label class="label-report alinear" for="estadoResultados">
      <input type="radio" id="estadoResultados" [(ngModel)]="accountReport" value=false> Estado de Resultados
    </label>
  </div>
  <div class="popup-buttons right">
    <app-my-button [isGreen]="true" (click)="addNewChildAccount(null)">GUARDAR</app-my-button>
    <app-my-button [isRed]="true" (click)="cancelPopup()">CANCELAR</app-my-button>
  </div>
</div>

<!--- MODAL SON -->
<div *ngIf="mostrarPopupSon" class="popup">
  <div class="popup-title">
    <span class="icon">
      <i class="fa-regular fa-pen-to-square"></i>
    </span>
    <h2 class="h2-title">Registro de Cuenta</h2>
  </div>
  <div class="row-2-popup">
    <h3>Dígitos del nivel</h3>
    <input [(ngModel)]="digitsLevel" type="text" placeholder="Ingresa el nivel">
  </div>
  <div class="row-2-popup">
    <h3>Nombre de la cuenta </h3>
    <input [(ngModel)]="accountName" type="text" placeholder="Ingresa el nombre de la cuenta">
  </div>
  <div class="checkbox">
    <input type="checkbox" id="check" name="check" value="check" [(ngModel)]="accountMoneyRub">
    <label for="check">Rubro monetario</label>
  </div>
  <div class="alinear">
    <h3>Reporte</h3>
    <label class="label-report alinear" for="balanceGeneralChild">
      <input type="radio" id="balanceGeneralChild" [(ngModel)]="accountReport" value=true> Balance General
    </label>
    <label class="label-report alinear" for="estadoResultadosChild">
      <input type="radio" id="estadoResultadosChild" [(ngModel)]="accountReport" value=false> Estado de Resultados
    </label>
  </div>
  <div class="popup-buttons right">
    <app-my-button [isGreen]="true" (click)="addNewChildAccount(selectedNode)">GUARDAR</app-my-button>
    <app-my-button [isRed]="true"  (click)="cancelPopup()">CANCELAR</app-my-button>
  </div>
</div>
