<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="tu-clave-de-api" crossorigin="anonymous">
<app-navbar></app-navbar>
<div class="help-and-support">
    <!-- Cabezera de la página -->
    <div class="header">
        <h1>Ayuda y soporte</h1>
        <hr>
    </div>
    <div class="descripcion">
        <h3>La pantalla del "Centro de Ayuda y Soporte" es una herramienta integral diseñada para ofrecer asistencia y orientación a los usuarios de nuestro sistema 
            contable. Este recurso se ha desarrollado con el objetivo de facilitar el uso del software y resolver de manera eficiente las consultas y problemas que los 
            usuarios puedan enfrentar durante su experiencia con la plataforma contable.</h3>
    </div>
    <!-- Contenedor de las imagenes (Imagen-descripción) -->
    <div class="container-1">
        <div class="card guia-usuario center" (click)="abrirPDF()" style="cursor: pointer;">
            <div class="header-card">
                <div class="logo center">
                    <i class="fa-light fa-book center"></i>
                </div>
            </div>
            <h2>Guia de usuario</h2>
            <h4>Este recurso está diseñado para ayudarte a navegar y aprovechar al máximo nuestra plataforma 
                ABCOUNT de manera eficiente y efectiva. En esta guía, encontrarás 
                instrucciones detalladas, consejos útiles y ejemplos prácticos que te guiarán a través de 
                todas las características y funcionalidades disponibles.</h4>
        </div>
        <a href="https://drive.google.com/file/d/1nSzo3kqo5BEkNIS-odd3Yutovoh_prnF/view?usp=sharing" target="_blank">
            <div class="card video center">
                <div class="header-card">
                    <div class="logo center">
                        <i class="fa-light fa-circle-play center"></i>
                    </div>
                </div>
                <h2>Videos guia</h2>
                <h4>Te llevaremos a través de un recorrido paso a paso para ayudarte a comprender y utilizar 
                    nuestros productos o servicios de manera efectiva. Nuestro objetivo es proporcionarte una 
                    experiencia de usuario fluida y satisfactoria</h4>
            </div>
        </a>
    </div>
</div>