.small-card {
    margin-top: 3px;
    display: flex;
    padding: 5px;
    border-radius: 25px;
    width: 100%;
    background-color: rgb(182, 182, 182);
  }
  .small-card:hover{
    background-color: rgb(211, 211, 211);
  }
  .image-container img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
  }
  .image-container{
    
    padding: 0;
    margin: 0;
    
    
  }
  .content-container{
    display: inline-block;
    position: relative;
    margin-left: 10px;
  }
  .content-1{
    margin-top: 7px ;
    margin-bottom: 3px
  }
  .content-2{
    font-size: 15px;
  }