<div class="container-tap5">
    <app-navbar></app-navbar>
    <app-config-navbar [numberOption]="5"></app-config-navbar>
    <div class="configuration-tap5">
        <div class="row-2">
            <div>
                <h1>Empleados de la empresa</h1>
            </div>
            <div>
                <a routerLink="/add-users-and-permissions"><app-my-button  [isGreen]="true"  style="margin-right: 10px; font-size: 20px;">INVITAR NUEVO</app-my-button></a>
            </div>
        </div>
        <div class="datos">
            <div class="usuario" *ngFor="let user of employee"> 
                <img  src="{{getImageProfile(user.urlProfilePicture)}}" alt="Foto de perfil">
                <h2>{{user.name}}</h2>
                <h4>{{user.email}}</h4>
                <div class="botones">
                    <a href="{{user.employeeId}}/users-and-permissions"><button class="button">Ver más</button></a>
                    <button class="button-red" (click)="Eliminar(user.employeeId)">Eliminar</button>
                </div>
            </div>
        </div>
        <br>
        <div class="row-2">
            <div>
                <h1>Invitaciones pendientes</h1>
            </div>
        </div>
        <div class="datos">
            <div class="usuario" *ngFor="let user of invitation">
                <img src="{{getImageProfile(user.urlProfilePicture)}}" alt="Foto de perfil">
                <h2>{{user.invited}}</h2>
                <h4>{{user.email}}</h4>
                <div class="botones">
                    <a href="{{user.invitedId}}/users-and-permissions"><button class="button">Ver más</button></a>
                    <button class="button-red" (click)="EliminarInvitation(user.invitationId, user.invitedId)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal invitar nuevo -->
